* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    border-bottom: 1px solid #f2f3f5;
    width: 100%;
}

.box {
    border: 1px solid #d8dbdf;
    border-radius: 8px;
    width: 413px;
    height: 494px;
    padding: 16px;
    padding-top: 10px;
    margin-top: 5px;
    margin-left: 300px;
    margin-top: 150px;
}

main{
    width: 400px;
    height: 494px;
    padding-right: 16px;
}
.full-width {
    width: 98%;
}

.half-width {
    width: 47%;
}

input {
    height: 40px;
    border-radius: 3px;
    border: 2px solid #e0e2e5;
    background-color: #f5f6f7;
    padding: 11px;
    margin: 4px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.hideButton {
    width: 25px;
    height: 25px;
    float: right;
}

h2 {
    font-size: 32px;
    margin: 0px;
}

p {
    margin-top: 11px;
    margin-bottom: 2px;
    float: left;
    width: auto;
    text-align: left;
    line-height: 1.34;
}

.border-bottom {
    border-bottom: 2px solid #f0f1f3;
    width: 390px;
    height: 62px;
    margin-bottom: 10px;
}

.sign-up-button {
    border-radius: 4px;
    width: 194px;
    height: 36px;
    background-color: #00a400;
    color: white;
    border: none;
    font-size: large;
    font-weight:600;
    margin-left: 80px;
}

.sign-up-button :hover {
    background-color: #71a864;
    color: #eaecef;
}

.terms-p {
    line-height: 13px;
    font-size: 12px;
    color:#838383;
    margin-top: 5px;
    margin-bottom: 11px;
}

.label {
    color: #7b7796;
    font-size: small;
}

.option-box {
    border: 1px solid #ccd0d5;
    width: 30%;
    height: 40px;
    border-radius: 5px;
    float: left;
    margin-left: 5px;
    margin: 6px;
}

.subtitle {
    color: #727273;
    width: 100%;
}

.gender-label {
    float: left;
    padding-top: 10px;
    padding-left: 3px;
}

.gender-input {
    float: right;
}
.label {
    padding-left: 10px;
    margin-top: 2px;
}

.img {
    width: 24px;
    height: 24px;
    float: right;
}
